[Unit]
Description=CS411 application
After=network.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/main
Restart=on-failure

[Install]
WantedBy=multi-user.target