[Unit]
Description=CS411 application
After=network.target

[Service]
User=laborant
WorkingDirectory=/home/laborant
ExecStart=/usr/bin/node /home/laborant/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
